@model Bar.Models.BarMenu

@{
    ViewData["Title"] = "Drink Details Page";
}

<h1>Drink Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrinkName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrinkName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrinkDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrinkDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to Menu</a>
</div>
